services:
  mariadb:
    container_name: mariadb
    image: mariadb
    networks:
      - inception
    build: 
      context: ./requirements/mariadb
    env_file:
      - .env
    volumes: 
      - mariadb:/var/lib/mysql
    restart: unless-stopped
    expose: 
      - "3306/tcp"
 
  nginx:
    container_name: nginx
    image: nginx
    networks:
      - inception
    depends_on: 
      - wordpress
    restart: unless-stopped
    build:
      context: requirements/nginx
    env_file:
      - .env
    ports:
      - "443:443"
    volumes:
      - wordpress:/var/www/html/wordpress

  wordpress:
    container_name: wordpress
    image: wordpress
    networks:
      - inception
    depends_on: 
      - mariadb
    restart: unless-stopped
    build:
      context: ./requirements/wordpress
    env_file:
      - .env
    volumes:
      - wordpress:/var/www/html/wordpress
    expose: 
      - "9000"

volumes:
  wordpress:
    driver: local
    driver_opts:
      type: 'none'
      o: 'bind'
      device: "/home/lcadinot/data/wordpress"
  mariadb:
    driver: local
    driver_opts:
      type: 'none'
      o: 'bind'
      device: "/home/lcadinot/data/mariadb"

networks:
  inception:
    name: inception
    driver: bridge